#header, div.cat_bar, h4.catbg, h4.catbg2 , h3.catbg , h3.catbg2 , .table_list tbody.header td.catbg, #footer,tr.catbg th.first_th, tr.catbg th.last_th, 
tr.titlebg th.first_th,tr.titlebg th.last_th, .titlebg, .titlebg2, tr.titlebg th, tr.titlebg td, tr.titlebg2 td, .catbg, .catbg2, tr.catbg td, tr.catbg2 td, tr.catbg th, tr.catbg2 th
{
	background: #4bcb29;
	background: -moz-linear-gradient(top,  #4bcb29 0%, #459a2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4bcb29), color-stop(100%,#459a2e));
	background: -webkit-linear-gradient(top,  #4bcb29 0%,#459a2e 100%);
	background: -o-linear-gradient(top,  #4bcb29 0%,#459a2e 100%);
	background: -ms-linear-gradient(top,  #4bcb29 0%,#459a2e 100%);
	background: linear-gradient(to bottom,  #4bcb29 0%,#459a2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bcb29', endColorstr='#459a2e',GradientType=0 );
}
#userinf img.avatar {
	border: 1px solid #185d1b ;
}
ul.tabs a:hover {
    background: #16691a ;
}
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background: #16691a ;
}
.panes div {
    background: #16691a ;
}
.tb-boards
{
	border: 3px solid #459a2e ;
	border-top: none ;
}
.table_grid tr.catbg, .table_grid tr.titlebg
{
	border-left: 3px solid #459a2e ;
    border-right: 3px solid #459a2e ;
}
.lt_first
{
    background: url(../images/theme/linktree_green.png) no-repeat scroll right -66px transparent;
}
.lt_midle
{
    background: url(../images/theme/linktree_green.png) repeat-x scroll 0 -4px transparent;
}
.lt_last
{
    background: url(../images/theme/linktree_green.png) no-repeat scroll left -66px transparent;
}
.navigate_section li.last .lt_first
{
    background: url(../images/theme/linktree_green.png) no-repeat scroll right -98px transparent;
}
.navigate_section li.last .lt_midle
{
    background: url(../images/theme/linktree_green.png) repeat-x scroll 0 -35px transparent;
    color: #919191;
}
.navigate_section li.last .lt_last
{
    background: url(../images/theme/linktree_green.png) no-repeat scroll left -98px transparent;   
}